<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Emoji Calculator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="main.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="src/EmojiCalculator.js"></script>
</head>
<body>
    <div id="app">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="">THE INCREDIBLE EMOJI CALCULATOR</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-6 text-center">
                    <h3>Emoji 1: <span id="e0">{{selectedEmojis[0].emoji}}</span></h3>
                    <button class="emoji-button fade-in one" v-for="emoji in allEmoji" @click="setEmoji(emoji, 0)">{{emoji.emoji}}</button>
                </div>
                <div class="col-6 text-center">
                    <h3>Emoji 2: <span id="e1">{{selectedEmojis[1].emoji}}</span></h3>
                    <button class="emoji-button" v-for="emoji in allEmoji" @click="setEmoji(emoji, 1)">{{emoji.emoji}}</button>
                </div>
            </div>
            
            
            <div class="row">
                <div class="col-12 text-center">
                    <br>
                    <h1>
                        <span id="e0">{{selectedEmojis[0].emoji}}</span> + <span id="e1">{{selectedEmojis[1].emoji}}</span> = {{ result }}
                    </h1>

                </div>
            </div>

            <div class="row">
                <div class="col-12 text-center">
                    
                    <a href="https://gabrielhochstatter.github.io/" target="_blank">
                        HIRE THE MAN WHO MADE THIS! 👨🏻‍💻
                    </a>

                </div>
            </div>

        </div>


    </div>

    <script>
        const questionMark = new Emoji("❓", 0);

        var data = {
            calculator: emojiCalculator,
            allEmoji: allEmoji,
            selectedEmojis: [
                questionMark,
                questionMark,
            ],
            result: "❓"
        }
        var emojiCalc = new Vue({
            el: '#app',
            data: data,
            methods: {
                calculate: function(){
                    let result = this.calculator.calculate(this.selectedEmojis[0], this.selectedEmojis[1])
                    this.result = result.emoji;
                },
                setEmoji: function(emoji, num){
                    this.selectedEmojis[num] = emoji;
                    let emojiDisplay = document.getElementsByClassName("e" + num);
                    for (element of emojiDisplay) {
                        element.innerText = emoji.emoji;
                    }
                    this.calculate();
                }
            }
        })
    </script>
</body>
</html>